<%- include ../public/page_head.html %>
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="/admin/goods/add" class="btn btn-primary">增加商品</a>
                    </div>
                    <div class="panel-body">
            <!--
                列表展示
            -->
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr class="th">
                                <th>商品名称</th>
                                <th>货号</th>
                                <th>价格</th>
                                <th>点击量</th>
                                <th>上架</th>
                                <th>精品</th>
                                <th>新品</th>
                                <th>热销</th>
                                <th>推荐排序</th>
                                <th>库存</th>
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                                    商品列表
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
</body>
</html>
