<ul class="aside">
    <li>
        <h4>管理员管理<span class="nav_open"></span></h4>
        <ul>
            <li  class="list-group-item"> <a href="/admin/manager" target="rightMain"> 管理员列表</a></li>
            <li class="list-group-item"> <a href="/admin/manager/add" target="rightMain">增加管理员</a></li>
        </ul>
    </li>
    <li>
        <h4>角色管理 <span class="nav_open"></span></h4>
        <ul>
            <li  class="list-group-item"> <a href="/admin/role" target="rightMain"> 角色列表</a></li>
            <li class="list-group-item"> <a href="/admin/role/add" target="rightMain">增加角色</a></li>
        </ul>
    </li>
    <li>
        <h4>权限管理 <span class="nav_open"></span></h4>
        <ul>
            <li  class="list-group-item"> <a href="/admin/access" target="rightMain">权限列表</a></li>
            <li class="list-group-item"> <a href="/admin/access/add" target="rightMain">权限增加</a></li>
        </ul>
    </li>
    <li>
        <h4>轮播图管理 <span class="nav_open"></span></h4>
        <ul>
            <li  class="list-group-item"> <a href="/admin/focus" target="rightMain">轮播图列表</a></li>
            <li  class="list-group-item"> <a href="/admin/focus/add" target="rightMain">上传轮播图</a></li>
        </ul>
    </li>
    <li>
        <h4>商品管理 <span class="nav_open"></span></h4>
        <ul>
            <li  class="list-group-item"> <a href="/admin/goodsType" target="rightMain">商品类型</a></li>
            <li  class="list-group-item"> <a href="/admin/goodsCate" target="rightMain">商品分类</a></li>
        </ul>
    </li>
</ul>
