<ul class="aside">
    <li>
        <h4>管理员管理</h4>
        <ul>
            <li  class="list-group-item"> <a href="/admin/manager"> 管理员列表</a></li>
            <li class="list-group-item"> <a href="/admin/manager/add">增加管理员</a></li>
        </ul>
    </li>
    <li>
        <h4>角色管理</h4>
        <ul>
            <li  class="list-group-item"> <a href="/admin/role"> 角色列表</a></li>
            <li class="list-group-item"> <a href="/admin/role/add">增加角色</a></li>
        </ul>
    </li>
    <li>
        <h4>权限管理</h4>
        <ul>
            <li  class="list-group-item"> <a href="/admin/access">权限列表</a></li>
            <li class="list-group-item"> <a href="/admin/access/add">权限增加</a></li>
        </ul>
    </li>
    <li>
        <h4>轮播图管理</h4>
        <ul>
            <li  class="list-group-item"> <a href="/admin/focus">轮播图列表</a></li>
            <li  class="list-group-item"> <a href="/admin/focus/add">上传轮播图</a></li>
        </ul>
    </li>
</ul>
