<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>操作成功</title>
    <meta http-equiv="refresh" content="3;url=<%=redirectUrl%>">
</head>
<body>
<!--The content below is only a placeholder and can be replaced.-->
    <link rel="stylesheet" href="/public/admin/bootstrap/css/bootstrap.css">
	<div class="container" style="margin-top: 100px;width: 600px;">

        <div class="alert alert-danger">
            <h2><%=message%>　3秒自动跳转</h2>
            <h3 style="color: black"><a href="<%=redirectUrl%>">立即跳转</a></h3>
            <br />
            <p>如果您不做出选择，将在 3秒后跳转到第一个链接地址。</p>
        </div>


	</div>

</body>
</html>
