.address-item {
	width: 268px;
	height: 178px;
	border: 1px solid #e0e0e0;
	cursor: pointer;
	position: relative;
	-webkit-transition: all .4s ease;
	transition: all .4s ease
}

.address-item:hover {
	border-color: #b0b0b0
}

.address-item dl {
	padding: 15px 24px 0;
	margin: 0
}

.address-item dt {
	margin: 0 0 10px;
	line-height: 30px
}

.address-item dd {
	margin: 0;
	line-height: 22px;
	color: #757575
}

.address-item .tag {
	float: right;
	color: #b0b0b0
}

.address-item .uname {
	font-size: 18px;
	color: #333;
	font-style: normal
}

.address-item .actions {
	position: absolute;
	right: 5px;
	bottom: 10px;
	width:80px;
	height: 30px;
	line-height: 30px;
	text-align: center;

}

.address-item .modify {
	display: none;
	margin-left: 10px;
	color: #ff6700
}

.address-item-new {
	text-align: center;
	color: #b0b0b0
}

.address-item-new:hover {
	color: #757575
}

.address-item-new:hover .iconfont {
	background-color: #757575
}

.address-item-new .iconfont {
	display: block;
	width: 30px;
	height: 30px;
	margin: 63px auto 8px;
	font-size: 30px;
	line-height: 30px;
	background-color: #e0e0e0;
	border-radius: 17px;
	text-align: center;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	color: #fff;
	font-style: normal;
}

.modal-choose-pro {
	width: 1226px;
	margin-top: -300px;
	margin-left: -613px;
	_margin-top: 0;
	background: none
}

.modal-choose-pro .close {
	background-color: #fafafa
}

.modal-choose-pro .modal-header {
	background: none;
	text-align: center
}

.modal-choose-pro .modal-header h3 {
	font-size: 28px;
	color: #fff
}

.modal-choose-pro .modal-body {
	padding: 30px 0;
	margin-left: -14px;
	text-align: center;
	overflow: hidden;
	_zoom: 1
}

.modal-choose-pro .modal-footer {
	padding: 10px 0 0;
	background: none;
	border: none
}

.modal-choose-pro ul {
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
	_zoom: 1
}

.modal-choose-pro .xm-pagers-wrapper {
	margin-top: 25px
}

.modal-choose-pro .list {
	margin: 0 auto
}

.modal-choose-pro .list li {
	float: left;
	height: 300px;
	text-align: center;
	cursor: pointer;
	color: #424242;
	position: relative;
	list-style: none;
	background-color: #fff
}

.modal-choose-pro .list li input {
	display: none
}

.modal-choose-pro .list li img {
	display: block;
	width: 160px;
	height: 160px;
	margin: 40px auto 15px
}

.modal-choose-pro .list li .g-name {
	margin: 0 0 5px
}

.modal-choose-pro .list li .g-price {
	margin: 0;
	color: #ff6700
}

.modal-choose-pro .list li .icon-radio {
	position: absolute;
	top: 20px;
	left: 20px
}

.modal-choose-pro .list li:hover .icon-radio {
	background-color: #e0e0e0
}

.modal-choose-pro .list .selected:hover .icon-radio {
	background-color: #ff6700
}

.modal-choose-pro .list .selected .icon-radio {
	background-color: #ff6700
}

.modal-choose-pro .list .selected .icon-radio:before {
	border-color: #ff6700
}

.modal-choose-pro-2 .modal-body,
.modal-choose-pro-3 .modal-body,
.modal-choose-pro-4 .modal-body {
	margin-left: 0
}

.modal-choose-pro-2 .list {
	width: 510px
}

.modal-choose-pro-3 .list {
	width: 758px
}

.modal-choose-pro-4 .list {
	width: 1006px
}

.modal-backdrop-dark.fade.in {
	opacity: .8;
	filter: alpha(opacity=80)\9
}

.icon-radio {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	background-color: #fff;
	position: relative;
	-webkit-transition: all .3s ease;
	transition: all .3s ease
}

.icon-radio:before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid #e0e0e0;
	border-radius: 11px;
	position: absolute;
	top: -4px;
	left: -4px
}

.search-address-wrapper {
	position: relative
}

.search-address-wrapper ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.search-address-wrapper .search-section {
	height: 44px;
	margin: 0 20px;
	border: 1px solid #e0e0e0;
	position: relative
}

.search-address-wrapper .search-section .icon {
	position: absolute;
	top: 50%;
	font-size: 30px;
	line-height: 1;
	margin-top: -15px;
	text-align: center
}

.search-address-wrapper .search-section .icon-search {
	left: 15px;
	color: #b2b2b2
}

.search-address-wrapper .search-section .icon-del {
	right: 15px;
	cursor: pointer;
	color: #fff;
	background-color: #e0e0e0;
	border-radius: 50%
}

.search-address-wrapper .search-input {
	width: 356px;
	height: 44px;
	padding: 0 56px;
	line-height: 44px;
	border: none
}

.search-address-wrapper .search-input:focus {
	outline: none
}

.search-address-wrapper .search-example {
	padding: 10px 0;
	margin: 0 20px;
	color: #b0b0b0
}

.search-address-wrapper .switch-type {
	padding: 20px 0;
	margin: 0 20px;
	border-top: 1px solid #e0e0e0;
	color: #b0b0b0
}

.search-address-wrapper .switch-type a {
	color: #b0b0b0
}

.search-address-wrapper .switch-type a:hover {
	color: #ff6700
}

.search-address-wrapper .nearby-address,
.search-address-wrapper .search-address {
	width: 100%;
	background-color: #fff
}

.search-address-wrapper .nearby-address .list,
.search-address-wrapper .search-address .list {
	margin-bottom: -1px
}

.search-address-wrapper .nearby-address li,
.search-address-wrapper .search-address li {
	padding: 14px 30px;
	cursor: pointer;
	position: relative;
	border-bottom: 1px solid #f0f0f0;
	-webkit-transition: all .3s;
	transition: all .3s;
	overflow: hidden;
	_zoom: 1
}

.search-address-wrapper .nearby-address li:hover,
.search-address-wrapper .search-address li:hover {
	background-color: #f0f0f0
}

.search-address-wrapper .nearby-address li:hover .btn,
.search-address-wrapper .search-address li:hover .btn {
	right: 30px;
	opacity: 1;
	filter: alpha(opacity=100)\9
}

.search-address-wrapper .nearby-address li .btn,
.search-address-wrapper .search-address li .btn {
	position: absolute;
	top: 50%;
	right: -110px;
	width: 100px;
	height: 32px;
	line-height: 32px;
	margin-top: -17px;
	-webkit-transition: all .3s;
	transition: all .3s;
	opacity: 0;
	filter: alpha(opacity=0)\9;
	z-index: 1
}

.search-address-wrapper .nearby-address .address-title,
.search-address-wrapper .nearby-address .address-desc,
.search-address-wrapper .search-address .address-title,
.search-address-wrapper .search-address .address-desc {
	margin-right: 120px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	_zoom: 1
}

.search-address-wrapper .nearby-address .address-desc,
.search-address-wrapper .search-address .address-desc {
	font-size: 12px;
	color: #b0b0b0
}

.search-address-wrapper .nearby-address .title {
	margin-bottom: 10px;
	padding-top: 30px;
	color: #b0b0b0
}

.search-address-wrapper .no-login,
.search-address-wrapper .no-result {
	margin: 20px 0;
	text-align: center;
	color: #757575
}

.search-address-wrapper .no-login a,
.search-address-wrapper .no-result a {
	color: #ff6700
}

.four-address-wrapper {
	margin: 0 20px
}

.four-address-wrapper .select-box {
	padding: 6px 0;
	border-bottom: 1px solid #e0e0e0
}

.four-address-wrapper .select-item {
	float: left;
	height: 30px;
	line-height: 30px;
	margin-right: 5%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	_zoom: 1;
	color: #ff6700
}

.four-address-wrapper .select-item.active {
	cursor: pointer;
	color: #424242
}

.four-address-wrapper .switch-type {
	padding: 20px 0;
	border-top: 1px solid #e0e0e0
}

.four-address-wrapper .switch-type a {
	color: #ff6700
}

.four-address-wrapper .options-box ul {
	margin: 0;
	padding: 20px 0;
	list-style: none
}

.four-address-wrapper .options-box li {
	float: left;
	margin-right: 14px;
	margin-bottom: 14px
}

.four-address-wrapper .options-box li:hover {
	color: #ff6700;
	text-decoration: underline;
	cursor: pointer
}

.modal-edit-address {
	width: 660px;
	height: 460px;
	margin-left: -330px;
	margin-top: -230px;
	-webkit-box-shadow: 0 18px 30px rgba(0, 0, 0, 0.18);
	box-shadow: 0 18px 30px rgba(0, 0, 0, 0.18)
}

.modal-edit-address .modal-body {
	padding: 40px 40px 0 40px;
	height: 280px;
	max-height: none
}

.modal-edit-address .modal-body .form-section {
	float: left
}

.modal-edit-address .modal-body .form-four-address {
	position: relative
}

.modal-edit-address .modal-body .form-four-address .iconfont {
	position: absolute;
	top: 50%;
	right: 6px;
	height: 24px;
	line-height: 24px;
	margin-top: -12px;
	font-size: 24px;
	color: #b0b0b0
}

.modal-edit-address .modal-body .form-four-address .input-text {
	color: #b0b0b0;
	cursor: pointer
}

.modal-edit-address .modal-body .form-four-address .input-text.active {
	color: #424242
}

.modal-edit-address .modal-body .form-four-address,
.modal-edit-address .modal-body .form-address-detail {
	width: 100%
}

.modal-edit-address .modal-body .form-four-address .input-text,
.modal-edit-address .modal-body .form-address-detail .input-text {
	width: 546px
}

.modal-edit-address .modal-body .form-name,
.modal-edit-address .modal-body .form-zipcode {
	margin-right: 14px
}

.modal-edit-address .modal-body .form-phone .input-text,
.modal-edit-address .modal-body .form-name .input-text,
.modal-edit-address .modal-body .form-zipcode .input-text,
.modal-edit-address .modal-body .form-tag .input-text {
	width: 249px
}

.modal-edit-address .modal-footer {
	border: none
}

.modal-edit-address .select-address-wrapper {
	position: absolute;
	top: 94px;
	left: 40px;
	width: 578px;
	padding-top: 40px;
	border: 1px solid #ff6700;
	background-color: #fff;
	z-index: 3
}

.modal-edit-address .select-address-close {
	position: absolute;
	top: 10px;
	right: 6px;
	width: 24px;
	color: #b0b0b0;
	cursor: pointer;
	line-height: 1;
	text-align: center
}

.modal-edit-address .form-tip-msg {
	width: 100%;
	text-align: center;
	color: #e53935
}

.page-main {
	padding-top: 40px;
	padding-bottom: 60px
}

.icon-plus {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	width: 22px;
	height: 22px;
	font-size: 22px;
	line-height: 1;
	border-radius: 11px;
	text-align: center;
	background-color: #ff6700;
	color: #fff;
	vertical-align: middle
}

.icon-selected {
	font-size: 22px;
	vertical-align: middle
}

.checkout-box {
	padding: 48px 0 0;
	background-color: #fff;
	width: 1226px;
	margin: 0 auto;	
}

.checkout-box ul,
.checkout-box li,
.checkout-box p,
.checkout-box h2,
.checkout-box h3 {
	margin: 0;
	padding: 0
}

.checkout-box ul,
.checkout-box li {
	list-style: none
}

.section {
	margin-left: 48px;
	margin-right: 48px
}

.section .section-header .title {
	float: left;
	color: #333;
	font-size: 18px;	
	height: 40px;
	line-height: 40px;
	font-weight: normal;
	width:400px;
}

.section .section-header .more {
	float: right;
	line-height: 20px
}

.section .section-header .more a {
	color: #b0b0b0;
	-webkit-transition: all .4s;
	transition: all .4s
}

.section .section-header .more a:hover {
	color: #757575
}

.section .section-header .more .iconfont {
	font-size: 20px;
	vertical-align: middle;
	position: relative;
	top: -1px;
	

	
}

.section-address .section-header {
	/* margin-bottom: 20px */
}

.section-address .section-header .tip {
	float: left;
	line-height: 20px;
	margin-left: 30px;
	color: #757575
}

.section-address .section-body {
	margin-left: -18px
}

.section-address .address-item {
	float: left;
	margin-left: 17px;
	margin-bottom: 24px
}

.section-address .address-item .uaddress {
	max-height: 88px;
	overflow: hidden;
	_zoom: 1
}

.section-address .selected {
	border-color: #ff6700
}

.section-address .selected .modify {
	display: inline-block;
	*zoom: 1;
	*display: inline
}

.section-address .address-show-more {
	clear: both;
	height: 50px;
	line-height: 50px;
	margin-left: 17px;
	margin-bottom: 30px;
	background-color: #eee;
	color: #424242;
	text-align: center;
	cursor: pointer
}

.section-address .address-show-more .iconfont {
	margin-left: 3px;
	position: relative;
	top: -1px;
	font-size: 14px;
	vertical-align: middle
}

.section-options {
	padding: 25px 0;
	border-bottom: 1px solid #e0e0e0
}

.section-options .section-header {
	float: left;
	width: 150px
}

.section-options .section-header .title {
	line-height: 38px
}

.section-options .section-body {
	float: left
}

.section-options .options li {
	float: left;
	height: 38px;
	line-height: 38px;
	border: 1px solid #fff;
	color: #333
}

.section-options .options li span {
	color: #757575
}

.section-options .options .selected {
	border-color: #fff;
	color: #ff6700
}

.section-options .options .selected span {
	color: #ff6700
}

.section-options .options-list li {
	width: 235px;
	margin-right: 14px;
	border-color: #e0e0e0;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all .3s;
	transition: all .3s
}

.section-options .options-list li:hover {
	border-color: #b0b0b0
}

.section-options .options-list .selected {
	border-color: #ff6700
}

.section-options .options-list .selected:hover {
	border-color: #ff6700
}

.section-invoice {
	border-bottom: none
}

.section-invoice .invoice-result {
	line-height: 40px;
	color: #ff6700
}

.section-invoice .invoice-result span {
	margin-right: 14px
}

.section-invoice .invoice-result a {
	color: #ff6700
}

.e-invoice-detail {
	margin: 10px 0;
	font-size: 12px;
	color: #757575;
	position: relative
}

.e-invoice-detail .icon-qa {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin-left: 3px;
	border-radius: 10px;
	text-align: center;
	color: #fff;
	background-color: #ff6700;
	font-style: normal;
	cursor: pointer
}

.e-invoice-detail a {
	color: #ff6700
}

.e-invoice-qa {
	position: absolute;
	top: 25px;
	right: -100px;
	width: 378px;
	height: 168px;
	border: 1px solid #e0e0e0;
	font-size: 12px;
	color: #757575;
	background-color: #fff;
	-webkit-box-shadow: 0 18px 30px rgba(0, 0, 0, 0.18);
	box-shadow: 0 18px 30px rgba(0, 0, 0, 0.18);
	z-index: 1
}

.e-invoice-qa ul {
	padding: 20px 20px 0 45px;
	margin-bottom: 15px
}

.e-invoice-qa ul li {
	margin-bottom: 2px;
	list-style: disc
}

.e-invoice-qa a {
	margin-left: 45px
}

.e-invoice-qa:before {
	content: "";
	display: block;
	position: absolute;
	top: -9px;
	left: 50%;
	margin-left: -9px;
	width: 0;
	height: 0;
	overflow: hidden;
	_zoom: 1;
	border-width: 0 9px 9px;
	border-style: dashed dashed solid;
	border-color: transparent transparent #e0e0e0;
	z-index: 2
}

.e-invoice-qa:after {
	content: "";
	display: block;
	position: absolute;
	top: -8px;
	left: 50%;
	margin-left: -8px;
	width: 0;
	height: 0;
	overflow: hidden;
	_zoom: 1;
	border-width: 0 8px 8px;
	border-style: dashed dashed solid;
	border-color: transparent transparent #fff;
	z-index: 3
}

.paper-invoice-detail {
	margin: 20px 0 10px
}

.paper-invoice-person {
	padding-top: 20px;
	line-height: 26px
}

.paper-invoice-company {
	margin-bottom: 14px
}

.paper-invoice-company .input-text {
	width: 454px
}

.paper-invoice-company p {
	margin: 0
}

.section-goods .section-header {
	border-bottom: 1px solid #e0e0e0
}

.section-goods .section-header .title,
.section-goods .section-header .more {
	line-height: 40px
}

.section-goods .goods-list {
	padding: 5px 0;
	border-bottom: 1px solid #e0e0e0
}

.section-goods .goods-list li {
	padding: 10px 0
}

.section-goods .goods-list .col {
	float: left;
	line-height: 30px;
	color: #424242
}

.section-goods .goods-list .col-img {
	width: 30px;
	height: 30px;
	margin-right: 10px
}

.section-goods .goods-list .col-name {
	width: 650px
}

.section-goods .goods-list .col-name a {
	color: #424242
}

.section-goods .goods-list .col-name .label {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	height: 18px;
	line-height: 18px;
	padding: 0 10px;
	margin-left: 10px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	font-style: normal;
	background-color: #ff6700
}

.section-goods .goods-list .col-price {
	width: 150px;
	text-align: center
}

.section-goods .goods-list .col-status {
	width: 100px;
	text-align: center
}

.section-goods .goods-list .col-total {
	width: 190px;
	text-align: center;
	color: #ff6700
}

.section-goods .goods-list .disable {
	opacity: .5;
	filter: alpha(opacity=50)\9
}

.section-count {
	min-height: 200px;
	*height: 200px;
	padding: 20px 0;
	position: relative
}

.section-count .count-actions {
	float: left;
	position: relative
}

.section-count .count-actions .coupon-trigger,
.section-count .count-actions .ecard-trigger {
	height: 50px;
	line-height: 50px;
	cursor: pointer
}

.section-count .count-actions .icon-plus {
	margin-right: 10px;
	position: relative;
	top: -1px
}

.section-count .money-box {
	position: absolute;
	right: 0;
	bottom: 20px;
	text-align: right
}

.section-count .money-box ul {
	float: right
}

.section-count .money-box li {
	display: block;
	padding-left: 100px;
	line-height: 2;
	position: relative;
	zoom: 1
}

.section-count .money-box label {
	position: absolute;
	top: 0;
	left: 0;
	width: 90px;
	color: #757575;
	zoom: 1
}

.section-count .money-box .val {
	color: #ff6700;
	zoom: 1
}

.section-count .money-box i,
.section-count .money-box em {
	font-style: normal
}

.section-count .money-box .total-price {
	margin-top: 10px
}

.section-count .money-box .total-price label {
	margin-top: 5px
}

.section-count .money-box .total-price em {
	font-size: 30px;
	line-height: 1
}

.section-bar {
	padding: 20px 48px;
	border-top: 2px solid #f5f5f5
}

.section-bar .fl {
	float: left
}

.section-bar .fr {
	float: right;
	color: #757575
}

.section-bar .fr .btn {
	float: right;
	
	width: 200px;
	height: 40px;
	line-height: 40px;
    color: #fff;
    background: rgb(255,103,0);
    font-size: 20px;
    border: none;
	cursor: pointer;
	text-align: center;
}

.section-bar .seleced-address {
	line-height: 20px;
	color: #424242
}

.section-bar .seleced-address a {
	color: #ff6700
}

.section-bar .captcha-box {
	float: right;
	height: 50px
}

.section-bar .captcha-box .form-section {
	float: left;
	width: 145px;
	margin-bottom: 0
}

.section-bar .captcha-box .form-section .input-text {
	width: 107px;
	height: 28px
}

.section-bar .captcha-box .form-section .input-label {
	top: 16px
}

.section-bar .captcha-box .form-section-active .input-label {
	top: -7px
}

.section-bar .captcha-box .captcha-img {
	float: left;
	width: 180px;
	height: 50px
}

.section-bar .captcha-box .captcha-img a {
	float: left;
	width: 30px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #424242;
	font-size: 20px
}

.section-bar .captcha-box .captcha-img a:hover {
	color: #ff6700
}

.section-bar .captcha-box .captcha-img img {
	float: left;
	width: 150px;
	height: 50px
}

.section-bar .big-pro-tip {
	color: #ff6700
}

.section-bar .big-pro-tip a {
	margin-left: 15px;
	color: #ff6700
}

.coupon-box {
	width: 586px;
	position: absolute;
	top: 50px;
	left: 0;
	padding: 20px 40px;
	border: 1px solid #e0e0e0;
	background-color: #fff;
	-webkit-box-shadow: 0 18px 30px rgba(0, 0, 0, 0.18);
	box-shadow: 0 18px 30px rgba(0, 0, 0, 0.18);
	z-index: 10
}

.coupon-box .tab-switch {
	height: 18px;
	padding: 10px 0;
	margin-bottom: 20px;
	overflow: hidden;
	_zoom: 1
}

.coupon-box .tab-switch li {
	float: left;
	width: 292px;
	margin-left: -2px;
	border-left: 2px solid #eee;
	text-align: center;
	line-height: 1;
	font-size: 18px;
	color: #757575;
	cursor: pointer
}

.coupon-box .tab-switch .tab-active {
	color: #ff6700
}

.coupon-box .coupon-list {
	height: 156px;
	margin-bottom: 20px;
	overflow: auto
}

.coupon-box .coupon-list li {
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	border-top: 2px solid #fff;
	background-color: #fafafa;
	color: #424242;
	cursor: pointer
}

.coupon-box .coupon-list .selected {
	color: #ff6700
}

.coupon-box .list-content {
	height: 220px
}

.coupon-box .list-content .more {
	margin-top: 20px;
	text-align: right
}

.coupon-box .list-content .coupon-empty {
	padding-top: 80px;
	color: #b0b0b0;
	text-align: center
}

.coupon-box .code-content {
	height: 200px;
	overflow: hidden;
	_zoom: 1;
	text-align: center
}

.coupon-box .code-content .form-section {
	margin-top: 30px;
	margin-bottom: 30px
}

.coupon-box .code-content .input-text {
	width: 544px;
	height: 38px;
	line-height: 38px;
	font-size: 30px;
	color: #424242;
	text-align: center
}

.coupon-box .code-content .input-label {
	top: 21px
}

.coupon-box .code-content .form-section-active .input-label {
	top: -8px
}

.coupon-box .coupon-confirm {
	text-align: center
}

.coupon-box .coupon-confirm .btn {
	width: 160px;
	height: 40px;
	line-height: 40px;
	margin: 0 5px
}

.coupon-result,
.ecard-result {
	height: 50px;
	line-height: 50px;
	color: #424242
}

.coupon-result a,
.ecard-result a {
	margin-left: 20px;
	color: #ff6700
}

.coupon-result .icon-selected,
.ecard-result .icon-selected {
	color: #83c44e;
	position: relative;
	top: -1px;
	margin-right: 5px
}

.ecard-box {
	width: 585px;
	min-height: 200px;
	position: absolute;
	top: 100px;
	left: 0;
	padding: 20px 40px;
	border: 1px solid #e0e0e0;
	background-color: #fff;
	-webkit-box-shadow: 0 18px 30px rgba(0, 0, 0, 0.18);
	box-shadow: 0 18px 30px rgba(0, 0, 0, 0.18);
	z-index: 200;
	-webkit-transition: all .5s;
	transition: all .5s
}

.ecard-box .loading {
	width: 100%;
	height: 100%;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #f5f5f5;
	background-color: rgba(0, 0, 0, 0.1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#19000000", endColorstr="#19000000")\9
}

.ecard-box .loading .loader {
	top: 40%
}

.ecard-box .tab-switch {
	height: 18px;
	padding: 10px 0;
	margin-bottom: 20px;
	overflow: hidden;
	_zoom: 1
}

.ecard-box .tab-switch li {
	float: left;
	width: 50%;
	margin-left: -2px;
	border-left: 2px solid #eee;
	text-align: center;
	line-height: 1;
	font-size: 18px;
	color: #757575;
	cursor: pointer
}

.ecard-box .tab-switch .tab-active {
	color: #ff6700
}

.ecard-box .btn {
	margin-right: 10px
}

.ecard-box .ecard-list .empty {
	margin: 20px 28px;
	text-align: center
}

.ecard-box .ecard-list .empty p {
	margin: 0 0 30px;
	height: 60px;
	line-height: 60px;
	background-color: #f5f5f5
}

.ecard-box .ecard-list .table-wrapper {
	position: relative;
	margin-bottom: 20px
}

.ecard-box .ecard-list .table-wrapper .col-1 {
	width: 50px;
	padding-left: 24px
}

.ecard-box .ecard-list .table-wrapper .col-2 {
	width: 160px
}

.ecard-box .ecard-list .table-wrapper .col-3,
.ecard-box .ecard-list .table-wrapper .col-4 {
	width: 120px
}

.ecard-box .ecard-list .table-wrapper ul {
	background-color: #fafafa
}

.ecard-box .ecard-list .table-wrapper li {
	float: left;
	height: 50px;
	line-height: 50px
}

.ecard-box .ecard-list .table-scroll {
	height: 208px;
	overflow: auto
}

.ecard-box .ecard-list table {
	width: 100%
}

.ecard-box .ecard-list table td {
	background-color: #fafafa;
	text-align: left;
	height: 50px;
	line-height: 50px;
	padding: 0;
	border-top: 2px solid #fff
}

.ecard-box .ecard-list table thead {
	color: #757575
}

.ecard-box .ecard-list table .selected .use {
	color: #ff6700
}

.ecard-box .ecard-list table .selected .icon-checkbox {
	color: #fff;
	border-color: #ff6700;
	background-color: #ff6700
}

.ecard-box .ecard-list table .selected .icon-checkbox:hover {
	color: #fff
}

.ecard-box .ecard-list table .disabled {
	opacity: .5;
	filter: alpha(opacity=50)\9;
	cursor: no-drop
}

.ecard-box .ecard-list table .disabled .icon-checkbox {
	cursor: no-drop
}

.ecard-box .ecard-list table .disabled .icon-checkbox:hover {
	color: #fff
}

.ecard-box .ecard-list .icon-checkbox {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	width: 18px;
	height: 18px;
	line-height: 18px;
	border: 1px solid #e0e0e0;
	background-color: #fff;
	color: #fff;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	vertical-align: -2px
}

.ecard-box .ecard-list .icon-checkbox:hover {
	color: #757575
}

.ecard-box .ecard-list .ecard-info {
	margin-bottom: 20px;
	margin-left: 24px
}

.ecard-box .ecard-list .ecard-info span {
	color: #ff6700
}

.ecard-box .ecard-list .ecard-info .tip {
	margin-left: 10px;
	color: #757575;
	font-size: 12px
}

.ecard-box .ecard-list .btns {
	margin-left: 24px;
	margin-bottom: 20px
}

.ecard-box .ecard-list .btns.list-empty {
	text-align: center
}

.ecard-box .ecard-list .btns.list-empty .btn-primary {
	display: none
}

.ecard-box .ecard-input .form-section {
	margin-bottom: 20px;
	margin-left: 80px;
	position: relative
}

.ecard-box .ecard-input .input-text {
	height: 28px
}

.ecard-box .ecard-input .input-card {
	width: 466px
}

.ecard-box .ecard-input .input-captcha {
	float: left;
	width: 100px
}

.ecard-box .ecard-input .input-label {
	top: 16px
}

.ecard-box .ecard-input .form-section-active .input-label {
	top: -7px
}

.ecard-box .ecard-input .input-title {
	position: absolute;
	top: 0;
	left: -80px;
	width: 80px;
	height: 50px;
	line-height: 50px
}

.ecard-box .ecard-input .form-btns {
	padding: 10px 0 0
}

.ecard-box .ecard-input .captcha-img {
	float: left;
	margin-left: 14px
}

.ecard-box .ecard-input .captcha-img img {
	height: 50px;
	cursor: pointer
}

.ecard-box .recycle-list .table-wrapper .col-2 {
	width: 200px
}

.ecard-box .recycle-list .table-wrapper .col-3 {
	width: 160px
}

.ecard-box .recycle-list .table-wrapper .col-4 {
	width: 150px
}

.ecard-box .sms-box {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff
}

.ecard-box .sms-box .title {
	margin: 35px 0 25px 130px;
	font-size: 16px;
	color: #424242
}

.ecard-box .sms-box .form-section {
	margin-left: 130px;
	margin-bottom: 26px
}

.ecard-box .sms-box .input-ecard {
	width: 298px;
	height: 28px;
	margin-right: 8px
}

.ecard-box .sms-box .input-label {
	top: 16px
}

.ecard-box .sms-box .form-section-active .input-label {
	top: -7px
}

.ecard-box .sms-box .countdown {
	color: #b0b0b0
}

.ecard-box .sms-box .countdown i {
	font-style: normal
}

.ecard-box .sms-box .repeat {
	color: #ff6700
}

.ecard-box .sms-box .icon-qa {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin-left: 3px;
	border-radius: 10px;
	text-align: center;
	color: #fff;
	background-color: #ff6700;
	font-style: normal;
	cursor: pointer;
	font-size: 12px;
	vertical-align: 2px
}

.ecard-box .sms-box .qa-detail {
	width: 264px;
	padding: 17px 20px;
	position: absolute;
	top: -105px;
	right: -1px;
	border: 1px solid #e0e0e0;
	font-size: 12px;
	color: #757575;
	background-color: #fff;
	-webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18)
}

.ecard-box .sms-box .qa-detail a {
	color: #ff6700
}

.ecard-box .sms-box .qa-detail:before {
	content: "";
	display: block;
	position: absolute;
	bottom: -9px;
	left: 50%;
	margin-left: -50px;
	width: 0;
	height: 0;
	overflow: hidden;
	_zoom: 1;
	border-width: 9px 9px 0;
	border-style: solid dashed dashed;
	border-color: #e0e0e0 transparent transparent;
	z-index: 2
}

.ecard-box .sms-box .qa-detail:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -8px;
	left: 50%;
	margin-left: -49px;
	width: 0;
	height: 0;
	overflow: hidden;
	_zoom: 1;
	border-width: 8px 8px 0;
	border-style: solid dashed dashed;
	border-color: #fff transparent transparent;
	z-index: 3
}

.raise-buy-box {
	margin-top: 20px
}

.raise-buy-box ul {
	float: left
}

.raise-buy-box li {
	height: 50px;
	line-height: 50px;
	margin-bottom: 10px;
	color: #424242;
	cursor: pointer;
	overflow: hidden;
	_zoom: 1;
	background-color: #f5f5f5;
	font-size: 12px;
	*width: 500px;
	padding-right: 10px
}

.raise-buy-box li .inner {
	height: 50px;
	padding-left: 20px
}

.raise-buy-box li .inner a {
	margin-left: 10px;
	color: #ff6700
}

.raise-buy-box li .add-cart-result {
	height: 50px;
	padding-left: 20px;
	background-color: #83c44e;
	color: #fff
}

.raise-buy-box li .add-cart-result .del {
	float: right;
	width: 20px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	text-align: center;
	font-size: 24px;
	color: #fff
}

.raise-buy-box li .warning {
	color: #ff6700;
	outline: none
}

.raise-buy-box li .warning:hover {
	text-decoration: underline
}

.raise-buy-box .selected {
	cursor: default
}

.raise-buy-box .selected .inner {
	display: none
}

.raise-buy-box .selected .add-cart-result {
	top: 0
}

.raise-buy-box .selected .icon-selected {
	margin-right: 10px;
	position: relative;
	top: -1px
}

.modal-yushou {
	height: 546px;
	margin-top: -273px
}

.modal-yushou .modal-body {
	height: 352px
}

.modal-yushou .content {
	padding: 0 60px;
	margin: 0;
	overflow: hidden;
	_zoom: 1
}

.modal-yushou .content li {
	padding: 15px 0 15px 110px;
	margin-top: -1px;
	border-top: 1px solid #e0e0e0;
	list-style: none;
	color: #616161;
	position: relative
}

.modal-yushou .content .icon {
	display: block;
	width: 74px;
	height: 50px;
	background-image: url("//c1.mifile.cn/f/i/2013/cn/icon/yushou/icon-yushou-checkout.png");
	background-repeat: no-repeat;
	position: absolute;
	top: 15px;
	left: 5px
}

.modal-yushou .content .icon-1 {
	background-position: 0 0
}

.modal-yushou .content .icon-2 {
	background-position: 0 -50px
}

.modal-yushou .content .icon-3 {
	background-position: 0 -100px
}

.modal-yushou .content h3 {
	font-size: 18px;
	margin: 0 0 10px
}

.modal-yushou .content p {
	margin: 0;
	line-height: 22px
}

.modal-lipin p,
.modal-lipin ul,
.modal-lipin li {
	margin: 0;
	color: #616161
}

.modal-lipin p {
	margin-bottom: 20px;
	text-align: center;
	font-size: 16px
}

.modal-lipin li {
	list-style: none;
	line-height: 2
}

.modal-lipin li strong {
	margin-right: 10px;
	font-weight: normal
}

.big-pro-tip-pop {
	width: 188px;
	min-height: 80px;
	padding: 20px 40px;
	border: 1px solid #eee;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	-webkit-box-shadow: 0 18px 30px rgba(0, 0, 0, 0.18);
	box-shadow: 0 18px 30px rgba(0, 0, 0, 0.18);
	font-size: 12px;
	color: #757575;
	line-height: 22px;
	z-index: 10
}

.big-pro-tip-pop p {
	margin: 0 0 10px
}

.big-pro-tip-pop a {
	color: #ff6700
}

.big-pro-tip-pop:before {
	content: "";
	position: absolute;
	top: -9px;
	left: 50%;
	margin-left: -9px;
	width: 0;
	height: 0;
	overflow: hidden;
	_zoom: 1;
	border-width: 0 9px 9px;
	border-style: dashed dashed solid;
	border-color: transparent transparent #e0e0e0;
	z-index: 2
}

.big-pro-tip-pop:after {
	content: "";
	position: absolute;
	top: -8px;
	left: 50%;
	margin-left: -8px;
	width: 0;
	height: 0;
	overflow: hidden;
	_zoom: 1;
	border-width: 0 8px 8px;
	border-style: dashed dashed solid;
	border-color: transparent transparent #fff;
	z-index: 3
}

.modal-alert .modal-body {
	text-align: center;
	font-size: 18px;
	color: #757575
}

.modal-alerts h3 {
	font-size: 24px
}

.modal-alerts p {
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 1.5
}

.address-top-bar {
	width: 100%;
	height: 70px;
	position: fixed;
	top: -100px;
	left: 0;
	border-top: 1px solid #e0e0e0;
	background-color: #fff;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
	z-index: 100;
	-webkit-transition: all .3s;
	transition: all .3s;
	_display: none
}

.address-top-bar .content {
	margin-top: 15px;
	line-height: 40px;
	color: #757575
}

.address-top-bar .content .uname {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	margin-right: 25px;
	text-align: center
}

.address-top-bar .content .utel {
	margin-right: 25px
}

.address-top-bar .btn {
	float: right;
	margin-top: 15px
}

.address-top-bar-active {
	top: 0
}

.mitv-tips {
	float: left;
	margin-left: 20px;
	margin-top: 3px;
	padding-left: 10px;
	color: #757575;
	border-left: 1px solid #e0e0e0;
	line-height: 1
}

.mitv-tips span {
	color: #ff6700
}

.service-self-tip {
	display: none;
	width: 458px;
	padding: 12px 15px;
	margin-top: 14px;
	background-color: #f5f5f5;
	font-size: 12px;
	color: #757575
}

.modal-tip-goods {
	width: 800px;
	margin-left: -400px
}

.modal-tip-goods .list {
	margin: 0;
	padding: 0
}

.modal-tip-goods li {
	float: left;
	list-style: none;
	width: 240px;
	height: 240px;
	text-align: center
}

.modal-tip-goods li img {
	width: 160px;
	height: 160px
}

.modal-tip-goods li h3 {
	margin: 0 10px 10px;
	font-size: 14px;
	font-weight: normal
}

.modal-tip-goods li .price {
	margin: 0;
	color: #ff6700
}

.modal-tip-goods .msg {
	text-align: center;
	font-size: 20px;
	line-height: 36px
}

.modal-tip-goods .modal-bd {
	padding: 40px;
	position: relative
}

.modal-tip-goods .modal-bd .control {
	position: absolute;
	top: 0;
	width: 40px;
	height: 100%;
	line-height: 320px;
	padding: 0;
	border: none;
	font-size: 40px;
	font-weight: normal
}

.modal-tip-goods .modal-bd .control-prev {
	left: 0
}

.modal-tip-goods .modal-bd .control-next {
	right: 0
}

.modal-tip-goods-1 {
	width: 572px;
	margin-left: -286px
}

.modal-tip-goods-1 .list {
	width: 240px;
	margin: 0 auto
}

.modal-tip-goods-2 {
	width: 572px;
	margin-left: -286px
}

.modal-tip-goods-2 .list {
	width: 480px;
	margin: 0 auto
}

.modal-tip-goods-3 .list {
	width: 720px;
	margin: 0 auto
}

.modal-invoice {
	margin-top: -340px
}

.modal-invoice ul,
.modal-invoice li,
.modal-invoice p {
	margin: 0;
	padding: 0
}

.modal-invoice ul,
.modal-invoice li {
	list-style: none
}

.modal-invoice .modal-body {
	padding: 19px 0 0 40px;
	max-height: 520px;
	height: 520px
}

.modal-invoice .in-section {
	padding-left: 76px;
	position: relative
}

.modal-invoice .tit {
	position: absolute;
	top: 0;
	left: 0;
	width: 76px;
	line-height: 40px
}

.modal-invoice .in-section-con {
	line-height: 40px
}

.modal-invoice .options li {
	float: left;
	height: 38px;
	line-height: 38px;
	border: 1px solid #fff;
	color: #333
}

.modal-invoice .options li span {
	color: #757575
}

.modal-invoice .options .selected {
	border-color: #fff;
	color: #ff6700
}

.modal-invoice .options .selected span {
	color: #ff6700
}

.modal-invoice .options-list li {
	width: 235px;
	margin-right: 14px;
	margin-bottom: 14px;
	border-color: #e0e0e0;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all .3s;
	transition: all .3s
}

.modal-invoice .options-list li:hover {
	border-color: #b0b0b0
}

.modal-invoice .options-list .selected {
	border-color: #ff6700
}

.modal-invoice .options-list .selected:hover {
	border-color: #ff6700
}

.modal-invoice .icon-qa {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin-left: 3px;
	border-radius: 10px;
	text-align: center;
	color: #fff;
	background-color: #ff6700;
	font-style: normal;
	cursor: pointer
}

.modal-invoice .invoice-tip {
	margin: 0 41px 14px 0;
	color: #757575;
	font-size: 12px
}

.modal-invoice .invoice-tip.active span {
	color: #ff6700
}

.modal-invoice .invoice-paper-tip {
	color: #ff6700
}

.modal-invoice .qa-detail {
	width: 264px;
	padding: 17px 20px;
	position: absolute;
	top: 39px;
	right: 0;
	border: 1px solid #e0e0e0;
	font-size: 12px;
	color: #757575;
	background-color: #fff;
	-webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
	z-index: 10
}

.modal-invoice .qa-detail a {
	color: #ff6700
}

.modal-invoice .qa-detail:before {
	content: "";
	display: block;
	position: absolute;
	top: -9px;
	left: 257px;
	width: 0;
	height: 0;
	overflow: hidden;
	_zoom: 1;
	border-width: 0 9px 9px;
	border-style: dashed dashed solid;
	border-color: transparent transparent #e0e0e0;
	z-index: 2
}

.modal-invoice .qa-detail:after {
	content: "";
	display: block;
	position: absolute;
	top: -8px;
	left: 258px;
	width: 0;
	height: 0;
	overflow: hidden;
	_zoom: 1;
	border-width: 0 8px 8px;
	border-style: dashed dashed solid;
	border-color: transparent transparent #fff;
	z-index: 3
}

.modal-invoice a:focus {
	outline: none
}

.modal-invoice .invoice-company-code-tip {
	margin-bottom: 14px
}

.modal-invoice .invoice-company-code-tip span {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	color: #757575
}

.modal-invoice .input-text-big {
	width: 454px
}

.modal-invoice .more {
	padding-left: 76px;
	position: relative
}

.modal-invoice .more dl,
.modal-invoice .more dd,
.modal-invoice .more dt {
	margin: 0;
	padding: 0
}

.modal-invoice .more a {
	color: #ff6700
}

.modal-invoice .more dt {
	position: absolute;
	top: 0;
	left: 0;
	width: 76px
}

.modal-invoice .more dd {
	-webkit-transition: color .3s;
	transition: color .3s;
	font-size: 12px;
	color: #757575;
	line-height: 1.8
}

.modal-invoice .more .active {
	color: #ff6700
}

.modal-agreement {
	margin-top: -166px
}

.modal-agreement h3 {
	text-align: center;
	margin-top: 0;
	font-size: 26px
}

.modal-agreement .left {
	float: left
}

.modal-agreement .right {
	margin-left: 100px
}

.modal-agreement .right .name {
	font-size: 18px
}

.modal-agreement .right p {
	margin: 0;
	margin-top: 5px
}

.modal-agreement .right .desc {
	color: #757575;
	position: relative
}

.modal-agreement .right .price {
	right: 0;
	position: absolute;
	top: 0;
	color: #757575
}

.modal-agreement .right .price span {
	color: #ff6700
}

.modal-agreement .right .agreement {
	margin-top: 40px
}

.modal-agreement .right .agreement .icon-checkbox {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	border-radius: 2px;
	margin: 0;
	width: 14px;
	height: 14px;
	line-height: 14px;
	margin-right: 5px;
	margin-top: 2px;
	font-size: 24px;
	text-align: center;
	cursor: pointer
}

.modal-agreement .right .agreement .icon-checkbox em {
	margin-top: 0;
	width: 24px;
	height: 24px;
	border-radius: 2px;
	border: 1px solid #b0b0b0;
	font-style: normal;
	line-height: 24px;
	color: #fff;
	font-size: 12px;
	vertical-align: inherit
}

.modal-agreement .right .agreement a {
	color: #ff6700;
	margin: 0;
	margin-left: 5px;
	display: inline-block;
	*zoom: 1;
	*display: inline
}

.modal-agreement .right .agreement a span {
	color: #757575;
	margin: 0 2px
}

.modal-agreement .right .agreement .active {
	color: #fff
}

.modal-agreement .right .agreement .active em {
	border-color: #ff6700;
	background-color: #ff6700
}

.modal-agreement .right .agreement .active a {
	color: #ff6700
}

.modal-agreement .right .agreement .active a .price {
	color: #757575
}

.modal-agreement .actions {
	margin-top: 30px;
	text-align: center
}