<%- include ../public/page_head.html %>
<div class="container-fluid">
            <div class="panel panel-default">
			    <div class="panel-heading">
                  增加角色
                </div>
                <div class="panel-body">
                    <div class="table-responsive input-form">
                        <form action="/admin/role/doAdd" method="post">
                            <input type="hidden" name="_csrf" value="<%=csrf%>">
                            <ul>
                                <li>  角色名称: <input type="text" name="title"/></li>
                                <li>
                                    角色描述:
                                    <textarea name="description" id="" cols="60" rows="8"></textarea>
                                </li>
                                <li>
                                    <br/>
                                    <button type="submit" class="btn btn-primary">提交</button>　<button type="button" class="btn btn-default"><a style="color:black" href="<%=prePage%>">返回</a></button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>


            </div>

        </div>
</body>
</html>
