<%- include ../public/page_head.html %>
<div class="container-fluid">
            <div class="panel panel-default">
			    <div class="panel-heading">
                  编辑角色
                </div>
                <div class="panel-body">
                    <div class="table-responsive input-form">
                        <form action="/admin/role/doEdit" method="post">
                            <ul>
                                <input type="hidden" name="_csrf" value="<%=csrf%>" />
                                <input type="hidden" name="_id" value="<%=list._id%>" />
                                <li>  角色名称: <input type="text" name="title" value="<%=list.title%>"/></li>
                                <li>
                                    角色描述:
                                    <textarea name="description"  id="" cols="60" rows="8"><%=list.description%></textarea>
                                </li>
                                <li>
                                    <br/>
                                    <button type="submit" class="btn btn-primary">提交</button>　
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>


            </div>

        </div>
</body>
</html>
