<%- include ../public/page_head.html %>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <%- include ../public/page_aside.html %>
        </div>
        <div class="col-sm-10">
            <!--
                列表展示
            -->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr class="th">
                        <th>角色名称</th>
                        <th>描述</th>
                        <th>增加时间</th>
                        <th class="text-center">操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    <%for(var i=0;i<list.length;i++){%>
                    <tr>
                        <td><%=list[i].title%></td>
                        <td><%=list[i].description%></td>
                        <td><%=list[i].add_time%></td>
                        <td class="text-center">
                            <a class="btn btn-info" href="/admin/role/auth?_id=<%=list[i]._id%>">授权</a>
                            <a class="btn btn-success" href="/admin/role/edit?_id=<%=list[i]._id%>">修改</a>
                        </td>    　
                    </tr>
                    <%}%>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

</body>
</html>
