<%- include ../public/page_head.html %>
    <div class="panel panel-default">
        <div class="panel-heading">
            增加商品类型
        </div>
        <div class="panel-body">
            <div class="table-responsive input-form">
                <form action="/admin/goodsType/doAdd" method="post">
                    <ul>
                        <input type="hidden" name="_csrf" value="<%=csrf%>">
                        <li>  商品类型名称: <input type="text" name="title"/></li>
                        <li>
                            商品类型描述:
                            <textarea name="description" id="" cols="60" rows="8"></textarea>
                        </li>
                        <li>
                            <br/>
                            <button type="submit" class="btn btn-primary">提交</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
