<%- include ../public/page_head.html %>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <%- include ../public/page_aside.html %>
        </div>
        <div class="col-sm-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    修改管理员
                </div>
                <div class="panel-body">
                    <div class="table-responsive input-form">
                        <form action="/admin/manager/doAdd" method="post">
                            <input type="hidden" name="_csrf" value="<%=csrf%>">
                            <ul>
                                <li>  管理员名称: <input type="text" name="username" /></li>
                                <li>  管理员密码: <input type="text" name="password"/></li>
                                <li>  管理员电话: <input type="text" name="mobile" /></li>
                                <li>  管理员邮箱: <input type="text" name="email" /></li>
                                <li>  管理员角色:
                                    <select name="role_id" id="role_id">
                                        <% for(var i=0;i<list.length;i++) {%>
                                        <option value="<%=list[i]._id%>"> <%=list[i].title%> </option>
                                        <% } %>
                                    </select>
                                </li>



                                <li>
                                    <br/>
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </li>
                            </ul>


                        </form>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

</body>
</html>
